:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    border: 1px solid red;
}

body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Andale Mono, monospace;
}

#titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    background-color: rgb(251, 251, 250);
    border-bottom: 1px solid rgb(233,233,231);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 10px;
}

#title {
    margin: 0;
}

#contentContainer { 
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left, #right {
    width: 27.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#middle {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sliderContainer p {
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(233,233,231);;
    line-height: 1.1;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
    width: 150px;
    background: #3771ff;
    color: white;
    margin: 3px;
}

.colorSquare {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 0.125rem;
    margin-right: 5px;
}

#blackSquare {
    background-color: black;
}

#redSquare {
    background-color: red;
}

#greenSquare {
    background-color: green;
}

#blueSquare {
    background-color: blue;
}

#myRange {
    padding: 0;
    margin: 0;
}

#gridContainer {
    margin: 0 0 10px 0;
    width: 450px;
    height: 450px;
}

#grid {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: auto;
    height: 100%;
    border: 1px solid rgb(233,233,231);
}

.grid-item {
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
    width: auto;
    height: auto;
}

